{{ forgejo.domain }} {
	{{ "tls internal" if caddy.self_sign else "" }}
	reverse_proxy {
	{% for host in groups["forgejo"] %}
		to {{ hostvars[host]["ansible_facts"]["default_ipv4"]["address"] }}:3000 # {{ host }}
	{% endfor %}
	}
}
